In [11]:
# Import libraries
import pandas as pd
import numpy as np

In [12]:
# import data from filter_data
company_data = pd.read_excel("../output_sets/filter_data.xlsx")

In [13]:
# this lines gives format the numbers in this archive
pd.options.display.float_format = "{:,.0f}".format
company_nordem = 402

# 770450


# pivot table of personal
def all_personal(company_data, company_nordem):
    company_data = company_data[company_data["id_numord"] == company_nordem]
    company_data = company_data.pivot_table(
        index=["anio", "mes"],
        values=[
            "id_numord",
            "II_PA_PP__NPERS_EP",
            "AJU_II_PA_PP_SUELD_EP",
            "II_PA_TD__NPERS_ET",
            "AJU_II_PA_TD_SUELD_ET",
            "II_PA_TI__NPERS_ETA",
            "AJU_II_PA_TI_SUELD_ETA",
            "II_PA_AP__AAEP",
            "AJU_II_PA_AP_AAS_AP",
            "II_PP_PP__NPERS_OP",
            "AJU_II_PP_PP_SUELD_OP",
            "II_PP_TD__NPERS_OT",
            "AJU_II_PP_TD_SUELD_OT",
            "II_PP_TI__NPERS_OTA",
            "AJU_II_PP_TI_SUELD_OTA",
            "II_PP_AP__APEP",
            "AJU_II_PP_AP_AAS_PP",
            "tot_empleo",
        ],
    )

    # averange salary per category
    company_averange_salary = company_data.copy()
    company_averange_salary["admin_per_dir"] = (
        company_averange_salary["AJU_II_PA_PP_SUELD_EP"]
        / company_averange_salary["II_PA_PP__NPERS_EP"]
    )
    company_averange_salary["admin_tem_dir"] = (
        company_averange_salary["AJU_II_PA_TD_SUELD_ET"]
        / company_averange_salary["II_PA_TD__NPERS_ET"]
    )
    company_averange_salary["admin_per_emp"] = (
        company_averange_salary["AJU_II_PA_TI_SUELD_ETA"]
        / company_averange_salary["II_PA_TI__NPERS_ETA"]
    )
    company_averange_salary["admin_per_apr"] = (
        company_averange_salary["AJU_II_PA_AP_AAS_AP"]
        / company_averange_salary["II_PA_AP__AAEP"]
    )
    company_averange_salary["pro_per_dir"] = (
        company_averange_salary["AJU_II_PP_PP_SUELD_OP"]
        / company_averange_salary["II_PP_PP__NPERS_OP"]
    )
    company_averange_salary["pro_tem_dir"] = (
        company_averange_salary["AJU_II_PP_TD_SUELD_OT"]
        / company_averange_salary["II_PP_TD__NPERS_OT"]
    )
    company_averange_salary["pro_per_emp"] = (
        company_averange_salary["AJU_II_PP_TI_SUELD_OTA"]
        / company_averange_salary["II_PP_TI__NPERS_OTA"]
    )
    company_averange_salary["pro_per_apr"] = (
        company_averange_salary["AJU_II_PP_AP_AAS_PP"]
        / company_averange_salary["II_PP_AP__APEP"]
    )

    """
        create table of administrative workers, 
        drop colums of the other categories, order columns and return this data
    """

    colums_to_delete_adm = [
        "AJU_II_PA_PP_SUELD_EP",
        "AJU_II_PA_TD_SUELD_ET",
        "AJU_II_PA_TI_SUELD_ETA",
        "AJU_II_PA_AP_AAS_AP",
        "AJU_II_PP_PP_SUELD_OP",
        "AJU_II_PP_TD_SUELD_OT",
        "AJU_II_PP_TI_SUELD_OTA",
        "AJU_II_PP_AP_AAS_PP",
        "tot_empleo",
        "II_PP_PP__NPERS_OP",
        "II_PP_TD__NPERS_OT",
        "II_PP_TI__NPERS_OTA",
        "II_PP_AP__APEP",
        "AJU_II_PP_AP_AAS_PP",
    ]

    company_admin_per = company_averange_salary.copy()
    company_admin_per = company_admin_per.drop(colums_to_delete_adm, axis=1)
    company_admin_per = company_admin_per.rename(
        columns={
            "II_PA_PP__NPERS_EP": "#_admin_per_dir",
            "II_PA_TD__NPERS_ET": "#_admin_tem_dir",
            "II_PA_TI__NPERS_ETA": "#_admin_tem_emp",
            "II_PA_AP__AAEP": "#_admin_ape",
        }
    )
    # order de columns and gives new names
    admin_order_var = [
        "#_admin_per_dir",
        "admin_per_dir",
        "#_admin_tem_dir",
        "admin_tem_dir",
        "#_admin_tem_emp",
        "admin_per_emp",
        "#_admin_ape",
        "admin_per_apr",
    ]
    # company admin personal table finished
    company_admin_per = company_admin_per.reindex(columns=admin_order_var)

    """ create table production workers,
    delete colums, order columns and create a table of production workers"""

    # colums to drop
    colums_to_delete_prd = [
        "II_PA_PP__NPERS_EP",
        "AJU_II_PA_PP_SUELD_EP",
        "II_PA_TD__NPERS_ET",
        "AJU_II_PA_TD_SUELD_ET",
        "II_PA_TI__NPERS_ETA",
        "AJU_II_PA_TI_SUELD_ETA",
        "II_PA_AP__AAEP",
        "AJU_II_PA_AP_AAS_AP",
        "AJU_II_PP_PP_SUELD_OP",
        "AJU_II_PP_TD_SUELD_OT",
        "AJU_II_PP_TI_SUELD_OTA",
        "AJU_II_PP_AP_AAS_PP",
        "tot_empleo",
        "admin_per_dir",
        "admin_tem_dir",
        "admin_per_emp",
        "admin_per_apr",
    ]

    company_prod_per = company_averange_salary.copy()
    company_prod_per = company_prod_per.drop(columns=colums_to_delete_prd, axis=1)
    company_prod_per = company_prod_per.rename(
        columns={
            "II_PP_PP__NPERS_OP": "#_prod_dir",
            "II_PP_TD__NPERS_OT": "#_prod_tem_dir",
            "II_PP_TI__NPERS_OTA": "#_prod_tem_emp",
            "II_PP_AP__APEP": "#_prod_apr",
        }
    )
    prod_per_order = [
        "#_prod_dir",
        "pro_per_dir",
        "#_prod_tem_dir",
        "pro_tem_dir",
        "#_prod_tem_emp",
        "pro_per_emp",
        "#_prod_apr",
        "pro_per_apr",
    ]
    company_prod_per = company_prod_per.reindex(columns=prod_per_order)

    return company_prod_per, company_admin_per


company_per_pro, company_per_adm = all_personal(company_data, company_nordem)
company_per_adm
# company_per_pro

          #_admin_per_dir  admin_per_dir  #_admin_tem_dir  admin_tem_dir  \
anio mes
2021 7                677          5,502               67          2,192
     8                679          5,579               77          2,049
     9                697          5,500               94          1,737
     10               719          5,604               98          1,604
     11               717          5,672              103          1,578
     12               723          5,536              118          1,576
2022 1                722          5,051              121          1,504
     2                722          6,180              120          1,567
     3                728          6,109              112          1,523
     4                724          6,398              108          1,633
     5                727          6,400              104          1,610
     6                731          6,528              101          1,696
     7                740          6,512               94          1,695
     8                735          6,604               97          1,853
     9                748          6,807               92          1,879
     10               754          6,382               92          1,931
     11               760          6,348               85          2,017
     12               753          7,116               81          2,040
2023 1                746          5,504               79          1,907
     2                736          6,891               77          1,984
     3                727          6,825               76          1,963
     4                723          7,172               73          2,121
     5                730          7,200               72          2,211
     6                722          7,143               67          2,190
     7                713          7,081               58          2,270

          #_admin_tem_emp  admin_per_emp  #_admin_ape  admin_per_apr
anio mes
2021 7                 13          3,124          109            906
     8                 15          3,139          106            907
     9                 14          3,522           98            911
     10                 9          3,522          108            908
     11                11          3,385          108            910
     12                14          3,177          115             91
2022 1                 14          2,779           95            845
     2                 10          4,102          100            890
     3                  6          4,742           98            919
     4                 11          3,459          119            796
     5                  7          3,658          118            816
     6                  5          3,516           97            840
     7                  5          4,509           87          1,107
     8                  5          3,648           91            891
     9                  5          3,758          103            905
     10                 9          3,535          102            920
     11                 9          3,784          105            894
     12                 9          3,785          113            828
2023 1                  8          3,981          104            949
     2                  7          4,085          105            945
     3                  8          5,580          113            931
     4                 19          6,093          128            938
     5                 19          5,113          118            949
     6                 22          5,446          115            972
     7                 14          5,991          128            962

In [14]:
production_data = company_data.copy()
production_data = production_data[production_data["id_numord"] == company_nordem]
production_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 5616
Data columns (total 81 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        25 non-null     int64
 1   Llave                             25 non-null     int64
 2   anio                              25 non-null     int64
 3   mes                               25 non-null     int64
 4   novedad                           25 non-null     int64
 5   id_estado                         25 non-null     int64
 6   imp_Imputacion                    24 non-null     object
 7   Corrección                        24 non-null     object
 8   id_numord                         25 non-null     int64
 9   nombre_estab                      25 non-null     object
 10  Dominio_39                        25 non-null     int64
 11  nombreDpto                        25 non-null     object
 12  nombreMpio                        25 non-null     object
 13  II_PA_PP__NPERS_EP                25 non-null     float64
 14  Sueldos_PERMANENTES               25 non-null     float64
 15  AJU_II_PA_PP_SUELD_EP             25 non-null     float64
 16  II_PA_PP__IEP                     25 non-null     object
 17  II_PA_PP__FEP                     25 non-null     object
 18  II_PA_TD__NPERS_ET                25 non-null     float64
 19  su_cau_mes_TEMPORAL_DIRECTO       25 non-null     float64
 20  AJU_II_PA_TD_SUELD_ET             25 non-null     float64
 21  II_PA_TD__IET                     25 non-null     object
 22  II_PA_TD__FET                     25 non-null     object
 23  II_PA_TI__NPERS_ETA               25 non-null     float64
 24  su_cau_mes_TEMPORAL_A_TRAVES_EMP  25 non-null     float64
 25  AJU_II_PA_TI_SUELD_ETA            25 non-null     float64
 26  II_PA_TI__IETA                    25 non-null     object
 27  II_PA_TI__FETA                    25 non-null     object
 28  II_PA_AP__AAEP                    25 non-null     float64
 29  su_cau_mes_APRENDIZ               25 non-null     float64
 30  AJU_II_PA_AP_AAS_AP               25 non-null     float64
 31  II_PA_AP__AI_AP                   25 non-null     object
 32  II_PA_AP__AF_AP                   25 non-null     object
 33  Obser                             25 non-null     object
 34  II_PP_PP__NPERS_OP                25 non-null     float64
 35  su_cau_mes_PERMANENTES9           25 non-null     float64
 36  AJU_II_PP_PP_SUELD_OP             25 non-null     float64
 37  II_PP_PP__IOP                     25 non-null     object
 38  II_PP_PP__FOP                     25 non-null     object
 39  II_PP_TD__NPERS_OT                25 non-null     float64
 40  su_cau_mes_TEMPORAL_DIRECTO13     25 non-null     float64
 41  AJU_II_PP_TD_SUELD_OT             25 non-null     float64
 42  II_PP_TD__IOT                     25 non-null     object
 43  II_PP_TD__FOT                     25 non-null     object
 44  II_PP_TI__NPERS_OTA               25 non-null     float64
 45  su_cau_mes_TEMPORAL_A_TR_EMP17    25 non-null     float64
 46  AJU_II_PP_TI_SUELD_OTA            25 non-null     float64
 47  II_PP_TI__IOTA                    25 non-null     object
 48  II_PP_TI__FOTA                    25 non-null     object
 49  II_PP_AP__APEP                    25 non-null     float64
 50  su_cau_mes_APRENDIZ21             25 non-null     float64
 51  AJU_II_PP_AP_AAS_PP               25 non-null     float64
 52  II_PP_AP__AI_PP                   5 non-null      object
 53  II_PP_AP__AF_PP                   5 non-null      object
 54  tot_empleo                        25 non-null     float64
 55  tot_operativo                     25 non-null     float64
 56  FIN__OBSERV_VAR_EMP_ANUAL         25 non-null     object
 57  Horas_Ordinarias                  25 non-null     float64
 58  AJU_II_HORAS_HORDI_T              25 non-null     float64
 59  Horas_Extras                      25 non-null     float64
 60  AJU_II_HORAS_HEXTR_T              25 non-null     float64
 61  II_HORAS__HORDI_D                 25 non-null     object
 62  II_HORAS__HORDI_H                 25 non-null     object
 63  TOTAL_HORAS                       25 non-null     float64
 64  FIN__OBSERV_VAR_HORA_ANUAL        25 non-null     object
 65  Producción                        25 non-null     float64
 66  AJU_III_PE_PRODUCCION             25 non-null     float64
 67  Ventas_en_el_país                 25 non-null     float64
 68  AJU_III_PE_VENTASIN               25 non-null     float64
 69  Ventas_en_el_Exterior             25 non-null     float64
 70  AJU_III_PE_VENTASEX               25 non-null     float64
 71  total_ventas                      25 non-null     float64
 72  III_PE__IV                        25 non-null     object
 73  III_PE__FV                        25 non-null     object
 74  FIN__OBSERV_VAR_PROD_ANUAL        25 non-null     object
 75  III_EX__VEXIS                     25 non-null     float64
 76  FIN__OBSERV_VAR_VEXIS             24 non-null     object
 77  Logistico_NUEVO                   25 non-null     object
 78  CRITICO                           25 non-null     object
 79  TERRITORIAL                       25 non-null     object
 80  OBSERVACION_DE_AJUSTES            24 non-null     object
dtypes: float64(39), int64(8), object(34)
memory usage: 16.0+ KB

In [15]:
def production(company_data, company_nordem):
    production_data = company_data.copy()
    production_data = production_data[production_data["id_numord"] == company_nordem]

    # Sumatory of all salaries
    production_data["sum_salarios"] = (
        production_data["AJU_II_PA_PP_SUELD_EP"]
        + production_data["AJU_II_PA_TD_SUELD_ET"]
        + production_data["AJU_II_PA_TI_SUELD_ETA"]
        + production_data["AJU_II_PA_AP_AAS_AP"]
        + production_data["AJU_II_PP_PP_SUELD_OP"]
        + production_data["AJU_II_PP_TD_SUELD_OT"]
        + production_data["AJU_II_PP_TI_SUELD_OTA"]
        + production_data["AJU_II_PP_AP_AAS_PP"]
    )

    # operation of averange salary for perosnal
    production_data["sal_percapita"] = (
        production_data["sum_salarios"] / production_data["tot_empleo"]
    )

    # diference of production and sells
    production_data["pro-ven"] = (
        production_data["AJU_III_PE_PRODUCCION"] - production_data["total_ventas"]
    )

    # diference of inventory
    # production_data["previus_onvent"] =
    production_data["dif-inv"] = production_data["III_EX__VEXIS"] - production_data[
        "III_EX__VEXIS"
    ].shift(periods=1, fill_value=None)

    # inventory coeficient

    production_data["coeficiente"] = production_data.apply(
        lambda row: row["pro-ven"] / row["dif-inv"] if row["dif-inv"] != 0 else 0,
        axis=1,
    )
    print(production_data["coeficiente"])

    production_data = production_data.pivot_table(
        index=["anio", "mes"],
        values=[
            "AJU_III_PE_PRODUCCION",
            "AJU_III_PE_VENTASIN",
            "AJU_III_PE_VENTASEX",
            "total_ventas",
            "III_EX__VEXIS",
            "sal_percapita",
            "tot_operativo",
            "tot_empleo",
            "dif-inv",
            "pro-ven",
            "coeficiente",
        ],
    )

    # aplay fortmat for presentation of the table.
    # i use a lambda funtion, for each x put this format

    production_data["coeficiente"] = production_data["coeficiente"].apply(
        lambda x: "{:.2f}".format(x)
    )

    # Change name of colums
    production_data = production_data.rename(
        columns={
            "AJU_III_PE_PRODUCCION": "Produccion",
            "AJU_III_PE_VENTASIN": "Ventas_int",
            "AJU_III_PE_VENTASEX": "Ventas_ext",
            "III_EX__VEXIS": "Existen",
        }
    )

    # reset the index of table
    production_data = production_data.reset_index()
    production_data = production_data.copy()

    production_data["Periodo"] = pd.to_datetime(
        production_data["anio"].astype(str) + "-" + production_data["mes"].astype(str),
        format="%Y-%m",
    )

    # Order columns
    prod_order = [
        "Periodo",
        "Produccion",
        "Ventas_int",
        "Ventas_ext",
        "total_ventas",
        "Existen",
        "tot_empleo",
        "tot_operativo",
        "sal_percapita",
        "pro-ven",
        "dif-inv",
        "coeficiente",
    ]

    production_data = production_data.reindex(columns=prod_order)

    return production_data


producion_of_company = production(company_data, company_nordem)
producion_of_company

0       -2,037,886
234      3,166,422
468      2,926,101
702        827,420
936              0
1170     2,300,001
1404    15,443,073
1638    -6,869,195
1872     5,046,963
2106    -1,789,594
2340     6,832,213
2574    -1,325,287
2808     2,711,655
3042     7,322,765
3276     3,501,335
3510    15,827,089
3744    -6,426,456
3978     6,077,161
4212   -20,758,285
4446    -6,380,113
4680     6,186,909
4914   -11,147,941
5148    -2,693,638
5382      -982,696
5616   -18,444,313
Name: pro-ven, dtype: float64
0              NaN
234      2,446,836
468      2,259,878
702        636,477
936        530,108
1170     1,883,794
1404    11,948,825
1638     1,877,275
1872     3,884,034
2106      -383,993
2340     5,400,165
2574      -945,483
2808     2,859,735
3042     6,410,204
3276     3,467,271
3510    12,254,684
3744    -2,639,968
3978     4,779,253
4212    -2,477,173
4446    -4,906,617
4680     4,839,766
4914    -8,564,019
5148    -1,336,106
5382      -748,292
5616   -14,109,623
Name: dif-inv, dtype: float64
0      NaN
234      1
468      1
702      1
936      0
1170     1
1404     1
1638    -4
1872     1
2106     5
2340     1
2574     1
2808     1
3042     1
3276     1
3510     1
3744     2
3978     1
4212     8
4446     1
4680     1
4914     1
5148     2
5382     1
5616     1
Name: coeficiente, dtype: float64

,Periodo,Produccion,Ventas_int,Ventas_ext,total_ventas,Existen,tot_empleo,tot_operativo,sal_percapita,pro-ven,dif-inv,coeficiente
0,2021-07-01,"84,600,363","58,500,550","28,137,699","86,638,249","28,993,245","2,307","1,441","3,574","-2,037,886",NaN,nan
1,2021-08-01,"99,705,399","62,021,973","34,517,004","96,538,977","31,440,081","2,328","1,451","3,594","3,166,422","2,446,836",1.29
2,2021-09-01,"77,290,325","58,373,997","15,990,227","74,364,224","33,699,959","2,375","1,472","3,606","2,926,101","2,259,878",1.29
3,2021-10-01,"84,231,642","60,032,334","23,371,888","83,404,222","34,336,436","2,392","1,458","3,544","827,420","636,477",1.30
4,2021-11-01,"81,154,372","61,107,283","20,047,089","81,154,372","34,866,544","2,495","1,556","3,590",0,"530,108",0.00
5,2021-12-01,"140,811,693","93,860,824","44,650,868","138,511,692","36,750,338","2,545","1,575","3,501","2,300,001","1,883,794",1.22
6,2022-01-01,"86,655,430","44,017,265","27,195,092","71,212,357","48,699,163","2,533","1,581","3,148","15,443,073","11,948,825",1.29
7,2022-02-01,"65,738,200","51,271,034","21,336,361","72,607,395","50,576,438","2,475","1,523","3,774","-6,869,195","1,877,275",-3.66
8,2022-03-01,"76,705,615","52,651,162","19,007,490","71,658,652","54,460,472","2,409","1,465","3,762","5,046,963","3,884,034",1.30
9,2022-04-01,"101,530,000","68,836,475","34,483,119","103,319,594","54,076,479","2,447","1,485","3,888","-1,789,594","-383,993",4.66
10,2022-05-01,"92,200,801","57,445,388","27,923,200","85,368,588","59,476,644","2,415","1,459","3,889","6,832,213","5,400,165",1.27
11,2022-06-01,"88,205,803","69,349,345","20,181,745","89,531,090","58,531,161","2,477","1,543","3,932","-1,325,287","-945,483",1.40
12,2022-07-01,"107,950,281","62,109,130","43,129,496","105,238,626","61,390,896","2,522","1,596","3,976","2,711,655","2,859,735",0.95
13,2022-08-01,"100,052,320","65,325,402","27,404,153","92,729,555","67,801,100","2,572","1,644","4,076","7,322,765","6,410,204",1.14
14,2022-09-01,"112,980,700","74,387,446","35,091,919","109,479,365","71,268,371","2,650","1,702","3,958","3,501,335","3,467,271",1.01
15,2022-10-01,"124,950,110","79,688,058","29,434,963","109,123,021","83,523,055","2,667","1,710","3,848","15,827,089","12,254,684",1.29
16,2022-11-01,"100,700,402","82,842,016","24,284,842","107,126,858","80,883,087","2,649","1,690","3,886","-6,426,456","-2,639,968",2.43
17,2022-12-01,"100,150,286","65,207,421","28,865,704","94,073,125","85,662,340","2,637","1,681","4,248","6,077,161","4,779,253",1.27
18,2023-01-01,"47,080,339","47,080,339","20,758,285","67,838,624","83,185,167","2,605","1,668","3,470","-20,758,285","-2,477,173",8.38
19,2023-02-01,"74,880,200","53,649,325","27,610,988","81,260,313","78,278,550","2,526","1,601","4,144","-6,380,113","-4,906,617",1.30
20,2023-03-01,"113,500,609","77,459,333","29,854,367","107,313,700","83,118,316","2,481","1,557","4,203","6,186,909","4,839,766",1.28
21,2023-04-01,"85,800,215","67,939,279","29,008,877","96,948,156","74,554,297","2,519","1,576","4,420","-11,147,941","-8,564,019",1.30
22,2023-05-01,"100,900,543","70,671,644","32,922,537","103,594,181","73,218,191","2,512","1,573","4,503","-2,693,638","-1,336,106",2.02
23,2023-06-01,"103,130,890","76,152,043","27,961,543","104,113,586","72,469,899","2,469","1,543","4,415","-982,696","-748,292",1.31
24,2023-07-01,"73,800,900","65,070,431","27,174,782","92,245,213","58,360,276","2,411","1,498","4,371","-18,444,313","-14,109,623",1.31

In [16]:
producion_of_company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Periodo        25 non-null     datetime64[ns]
 1   Produccion     25 non-null     float64
 2   Ventas_int     25 non-null     float64
 3   Ventas_ext     25 non-null     float64
 4   total_ventas   25 non-null     float64
 5   Existen        25 non-null     float64
 6   tot_empleo     25 non-null     float64
 7   tot_operativo  25 non-null     float64
 8   sal_percapita  25 non-null     float64
 9   pro-ven        25 non-null     float64
 10  dif-inv        24 non-null     float64
 11  coeficiente    25 non-null     object
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 2.5+ KB

In [17]:
# with use of groupby i generate the total per year
resume_table = producion_of_company.groupby("Periodo").agg(
    {"Produccion": [np.sum], "total_ventas": [np.sum]}
)
resume_table

            Produccion total_ventas
                   sum          sum
Periodo
2021-07-01  84,600,363   86,638,249
2021-08-01  99,705,399   96,538,977
2021-09-01  77,290,325   74,364,224
2021-10-01  84,231,642   83,404,222
2021-11-01  81,154,372   81,154,372
2021-12-01 140,811,693  138,511,692
2022-01-01  86,655,430   71,212,357
2022-02-01  65,738,200   72,607,395
2022-03-01  76,705,615   71,658,652
2022-04-01 101,530,000  103,319,594
2022-05-01  92,200,801   85,368,588
2022-06-01  88,205,803   89,531,090
2022-07-01 107,950,281  105,238,626
2022-08-01 100,052,320   92,729,555
2022-09-01 112,980,700  109,479,365
2022-10-01 124,950,110  109,123,021
2022-11-01 100,700,402  107,126,858
2022-12-01 100,150,286   94,073,125
2023-01-01  47,080,339   67,838,624
2023-02-01  74,880,200   81,260,313
2023-03-01 113,500,609  107,313,700
2023-04-01  85,800,215   96,948,156
2023-05-01 100,900,543  103,594,181
2023-06-01 103,130,890  104,113,586
2023-07-01  73,800,900   92,245,213