In [2]:
# Import libraries
import pandas as pd
import numbers as np

In [21]:
# import data from filter_data
company_data = pd.read_excel("../output_sets/filter_data.xlsx")

In [6]:
company_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5797 entries, 0 to 5796
Data columns (total 81 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        5797 non-null   int64
 1   Llave                             5797 non-null   int64
 2   anio                              5797 non-null   int64
 3   mes                               5797 non-null   int64
 4   novedad                           5797 non-null   int64
 5   id_estado                         5796 non-null   float64
 6   imp_Imputacion                    5541 non-null   object
 7   Corrección                        5555 non-null   object
 8   id_numord                         5797 non-null   int64
 9   nombre_estab                      5797 non-null   object
 10  Dominio_39                        5797 non-null   int64
 11  nombreDpto                        5797 non-null   object
 12  nombreMpio                        5797 non-null   object
 13  II_PA_PP__NPERS_EP                5797 non-null   float64
 14  Sueldos_PERMANENTES               5797 non-null   float64
 15  AJU_II_PA_PP_SUELD_EP             5797 non-null   float64
 16  II_PA_PP__IEP                     4519 non-null   object
 17  II_PA_PP__FEP                     4519 non-null   object
 18  II_PA_TD__NPERS_ET                5797 non-null   int64
 19  su_cau_mes_TEMPORAL_DIRECTO       5511 non-null   float64
 20  AJU_II_PA_TD_SUELD_ET             5517 non-null   float64
 21  II_PA_TD__IET                     2137 non-null   object
 22  II_PA_TD__FET                     2137 non-null   object
 23  II_PA_TI__NPERS_ETA               5506 non-null   float64
 24  su_cau_mes_TEMPORAL_A_TRAVES_EMP  5517 non-null   float64
 25  AJU_II_PA_TI_SUELD_ETA            5517 non-null   float64
 26  II_PA_TI__IETA                    2205 non-null   object
 27  II_PA_TI__FETA                    2205 non-null   object
 28  II_PA_AP__AAEP                    5516 non-null   float64
 29  su_cau_mes_APRENDIZ               5508 non-null   float64
 30  AJU_II_PA_AP_AAS_AP               5517 non-null   float64
 31  II_PA_AP__AI_AP                   3874 non-null   object
 32  II_PA_AP__AF_AP                   3875 non-null   object
 33  Obser                             5458 non-null   object
 34  II_PP_PP__NPERS_OP                5515 non-null   float64
 35  su_cau_mes_PERMANENTES9           5509 non-null   float64
 36  AJU_II_PP_PP_SUELD_OP             5517 non-null   float64
 37  II_PP_PP__IOP                     4727 non-null   object
 38  II_PP_PP__FOP                     4727 non-null   object
 39  II_PP_TD__NPERS_OT                5513 non-null   float64
 40  su_cau_mes_TEMPORAL_DIRECTO13     5507 non-null   float64
 41  AJU_II_PP_TD_SUELD_OT             5516 non-null   float64
 42  II_PP_TD__IOT                     2460 non-null   object
 43  II_PP_TD__FOT                     2460 non-null   object
 44  II_PP_TI__NPERS_OTA               5508 non-null   float64
 45  su_cau_mes_TEMPORAL_A_TR_EMP17    5501 non-null   float64
 46  AJU_II_PP_TI_SUELD_OTA            5517 non-null   float64
 47  II_PP_TI__IOTA                    2687 non-null   object
 48  II_PP_TI__FOTA                    2684 non-null   object
 49  II_PP_AP__APEP                    5507 non-null   float64
 50  su_cau_mes_APRENDIZ21             5501 non-null   float64
 51  AJU_II_PP_AP_AAS_PP               5517 non-null   float64
 52  II_PP_AP__AI_PP                   2755 non-null   object
 53  II_PP_AP__AF_PP                   2755 non-null   object
 54  tot_empleo                        5797 non-null   float64
 55  tot_operativo                     5797 non-null   float64
 56  FIN__OBSERV_VAR_EMP_ANUAL         5511 non-null   object
 57  Horas_Ordinarias                  5503 non-null   float64
 58  AJU_II_HORAS_HORDI_T              5511 non-null   float64
 59  Horas_Extras                      5500 non-null   float64
 60  AJU_II_HORAS_HEXTR_T              5511 non-null   float64
 61  II_HORAS__HORDI_D                 5147 non-null   object
 62  II_HORAS__HORDI_H                 5147 non-null   object
 63  TOTAL_HORAS                       5510 non-null   float64
 64  FIN__OBSERV_VAR_HORA_ANUAL        5468 non-null   object
 65  Producción                        5509 non-null   float64
 66  AJU_III_PE_PRODUCCION             5517 non-null   float64
 67  Ventas_en_el_país                 5508 non-null   float64
 68  AJU_III_PE_VENTASIN               5517 non-null   float64
 69  Ventas_en_el_Exterior             5499 non-null   float64
 70  AJU_III_PE_VENTASEX               5516 non-null   float64
 71  total_ventas                      5797 non-null   float64
 72  III_PE__IV                        5383 non-null   object
 73  III_PE__FV                        5383 non-null   object
 74  FIN__OBSERV_VAR_PROD_ANUAL        5494 non-null   object
 75  III_EX__VEXIS                     5517 non-null   float64
 76  FIN__OBSERV_VAR_VEXIS             5283 non-null   object
 77  Logistico_NUEVO                   5797 non-null   object
 78  CRITICO                           5797 non-null   object
 79  TERRITORIAL                       5797 non-null   object
 80  OBSERVACION_DE_AJUSTES            5335 non-null   object
dtypes: float64(39), int64(8), object(34)
memory usage: 3.6+ MB

In [25]:
pd.options.display.float_format = "{:,.0f}".format
company_nordem = 402


# pivot table of personal
def all_personal(company_data, company_nordem):
    company_data = company_data[company_data["id_numord"] == company_nordem]
    company_data = company_data.pivot_table(
        index=["anio", "mes"],
        values=[
            "id_numord",
            "II_PA_PP__NPERS_EP",
            "AJU_II_PA_PP_SUELD_EP",
            "II_PA_TD__NPERS_ET",
            "AJU_II_PA_TD_SUELD_ET",
            "II_PA_TI__NPERS_ETA",
            "AJU_II_PA_TI_SUELD_ETA",
            "II_PA_AP__AAEP",
            "AJU_II_PA_AP_AAS_AP",
            "II_PP_PP__NPERS_OP",
            "AJU_II_PP_PP_SUELD_OP",
            "II_PP_TD__NPERS_OT",
            "AJU_II_PP_TD_SUELD_OT",
            "II_PP_TI__NPERS_OTA",
            "AJU_II_PP_TI_SUELD_OTA",
            "II_PP_AP__APEP",
            "AJU_II_PP_AP_AAS_PP",
        ],
    )
    colum_order = [
        "id_numord",
        "II_PA_PP__NPERS_EP",
        "AJU_II_PA_PP_SUELD_EP",
        "II_PA_TD__NPERS_ET",
        "AJU_II_PA_TD_SUELD_ET",
        "II_PA_TI__NPERS_ETA",
        "AJU_II_PA_TI_SUELD_ETA",
        "II_PA_AP__AAEP",
        "AJU_II_PA_AP_AAS_AP",
        "II_PP_PP__NPERS_OP",
        "AJU_II_PP_PP_SUELD_OP",
        "II_PP_TD__NPERS_OT",
        "AJU_II_PP_TD_SUELD_OT",
        "II_PP_TI__NPERS_OTA",
        "AJU_II_PP_TI_SUELD_OTA",
        "II_PP_AP__APEP",
        "AJU_II_PP_AP_AAS_PP",
    ]
    company_data = company_data.reindex(columns=colum_order)
    return company_data


all_personal(company_data, company_nordem)

          id_numord  II_PA_PP__NPERS_EP  AJU_II_PA_PP_SUELD_EP  \
anio mes
2021 5          402                 669              3,640,674
     6          402                 675              3,687,068
     7          402                 677              3,725,156
     8          402                 679              3,788,225
     9          402                 697              3,833,305
     10         402                 719              4,029,486
     11         402                 717              4,066,848
     12         402                 723              4,002,680
2022 1          402                 722              3,646,888
     2          402                 722              4,461,635
     3          402                 728              4,447,457
     4          402                 724              4,632,055
     5          402                 727              4,653,035
     6          402                 731              4,772,230
     7          402                 740              4,819,086
     8          402                 735              4,853,891
     9          402                 748              5,091,386
     10         402                 754              4,811,960
     11         402                 760              4,824,547
     12         402                 753              5,358,612
2023 1          402                 746              4,105,972
     2          402                 736              5,071,551
     3          402                 727              4,961,601
     4          402                 723              5,185,138
     5          402                 730              5,255,842

          II_PA_TD__NPERS_ET  AJU_II_PA_TD_SUELD_ET  II_PA_TI__NPERS_ETA  \
anio mes
2021 5                    63                134,159                    9
     6                    65                137,965                   11
     7                    67                146,858                   13
     8                    77                157,802                   15
     9                    94                163,233                   14
     10                   98                157,143                    9
     11                  103                162,544                   11
     12                  118                185,974                   14
2022 1                   121                182,018                   14
     2                   120                188,036                   10
     3                   112                170,533                    6
     4                   108                176,415                   11
     5                   104                167,433                    7
     6                   101                171,255                    5
     7                    94                159,376                    5
     8                    97                179,696                    5
     9                    92                172,892                    5
     10                   92                177,694                    9
     11                   85                171,427                    9
     12                   81                165,245                    9
2023 1                    79                150,629                    8
     2                    77                152,744                    7
     3                    76                149,189                    8
     4                    73                154,855                   19
     5                    72                159,161                   19

          AJU_II_PA_TI_SUELD_ETA  II_PA_AP__AAEP  AJU_II_PA_AP_AAS_AP  \
anio mes
2021 5                    26,724              54               49,211
     6                    32,074              86               77,951
     7                    40,606             109               98,726
     8                    47,081             106               96,122
     9                    49,303              98               89,308
     10                   31,694             108               98,090
     11                   37,238             108               98,272
     12                   44,475             115               10,450
2022 1                    38,903              95               80,241
     2                    41,023             100               88,966
     3                    28,454              98               90,025
     4                    38,044             119               94,733
     5                    25,604             118               96,341
     6                    17,582              97               81,508
     7                    22,546              87               96,341
     8                    18,240              91               81,103
     9                    18,790             103               93,225
     10                   31,814             102               93,850
     11                   34,053             105               93,850
     12                   34,064             113               93,583
2023 1                    31,847             104               98,670
     2                    28,594             105               99,209
     3                    44,638             113              105,250
     4                   115,767             128              120,079
     5                    97,152             118              112,002

          II_PP_PP__NPERS_OP  AJU_II_PP_PP_SUELD_OP  II_PP_TD__NPERS_OT  \
anio mes
2021 5                 1,135              3,643,647                 200
     6                 1,139              3,677,488                 206
     7                 1,138              3,659,592                 211
     8                 1,145              3,678,623                 187
     9                 1,145              3,755,926                 198
     10                1,149              3,600,833                 207
     11                1,208              3,852,396                 163
     12                1,214              3,885,911                 164
2022 1                 1,224              3,279,702                 160
     2                 1,221              3,758,915                 162
     3                 1,208              3,685,841                 157
     4                 1,209              3,771,630                 160
     5                 1,200              3,877,925                 165
     6                 1,194              3,904,376                 179
     7                 1,203              3,918,707                 200
     8                 1,173              4,030,795                 248
     9                 1,233              4,131,457                 212
     10                1,248              4,149,339                 218
     11                1,243              4,140,065                 229
     12                1,250              4,548,482                 237
2023 1                 1,247              3,721,881                 233
     2                 1,225              4,185,934                 207
     3                 1,207              4,255,254                 201
     4                 1,205              4,562,016                 199
     5                 1,201              4,701,378                 206

          AJU_II_PP_TD_SUELD_OT  II_PP_TI__NPERS_OTA  AJU_II_PP_TI_SUELD_OTA  \
anio mes
2021 5                  338,523                   63                 145,037
     6                  353,520                   89                 208,287
     7                  349,843                   92                 224,590
     8                  315,692                  119                 283,001
     9                  334,426                  129                 338,900
     10                 326,876                  102                 233,200
     11                 280,059                  185                 459,230
     12                 281,336                  197                 499,757
2022 1                  247,372                  197                 497,812
     2                  265,721                  140                 536,906
     3                  253,481                  100                 386,811
     4                  263,905                  116                 537,330
     5                  273,175                   94                 297,261
     6                  306,491                  170                 486,593
     7                  335,240                  193                 676,993
     8                  482,733                  223                 836,426
     9                  356,445                  257                 625,290
     10                 384,409                  244                 614,287
     11                 384,409                  218                 645,600
     12                 421,763                  194                 580,881
2023 1                  383,278                  188                 546,960
     2                  397,815                  169                 533,100
     3                  396,101                  149                 515,871
     4                  406,413                  172                 589,476
     5                  413,030                  166                 573,124

          II_PP_AP__APEP  AJU_II_PP_AP_AAS_PP
anio mes
2021 5                 0                    0
     6                 0                    0
     7                 0                    0
     8                 0                    0
     9                 0                    0
     10                0                    0
     11                0                    0
     12                0                    0
2022 1                 0                    0
     2                 0                    0
     3                 0                    0
     4                 0                    0
     5                 0                    0
     6                 0                    0
     7                 0                    0
     8                 0                    0
     9                 0                    0
     10                0                    0
     11                0                    0
     12                0                    0
2023 1                 0                    0
     2                 0                    0
     3                 0                    0
     4                 0                    0
     5                 0                    0