In [68]:
# Import libraries
import pandas as pd
import numbers as np

In [69]:
# import data from filter_data
company_data = pd.read_excel("../output_sets/filter_data.xlsx")

In [70]:
# this lines gives format the numbers in this archive
pd.options.display.float_format = "{:,.0f}".format
company_nordem = 402


# pivot table of personal
def all_personal(company_data, company_nordem):
    company_data = company_data[company_data["id_numord"] == company_nordem]
    company_data = company_data.pivot_table(
        index=["anio", "mes"],
        values=[
            "id_numord",
            "II_PA_PP__NPERS_EP",
            "AJU_II_PA_PP_SUELD_EP",
            "II_PA_TD__NPERS_ET",
            "AJU_II_PA_TD_SUELD_ET",
            "II_PA_TI__NPERS_ETA",
            "AJU_II_PA_TI_SUELD_ETA",
            "II_PA_AP__AAEP",
            "AJU_II_PA_AP_AAS_AP",
            "II_PP_PP__NPERS_OP",
            "AJU_II_PP_PP_SUELD_OP",
            "II_PP_TD__NPERS_OT",
            "AJU_II_PP_TD_SUELD_OT",
            "II_PP_TI__NPERS_OTA",
            "AJU_II_PP_TI_SUELD_OTA",
            "II_PP_AP__APEP",
            "AJU_II_PP_AP_AAS_PP",
            "tot_empleo",
        ],
    )

    # averange salary per category
    company_averange_salary = company_data.copy()
    company_averange_salary["admin_per_dir"] = (
        company_averange_salary["AJU_II_PA_PP_SUELD_EP"]
        / company_averange_salary["II_PA_PP__NPERS_EP"]
    )
    company_averange_salary["admin_tem_dir"] = (
        company_averange_salary["AJU_II_PA_TD_SUELD_ET"]
        / company_averange_salary["II_PA_TD__NPERS_ET"]
    )
    company_averange_salary["admin_per_emp"] = (
        company_averange_salary["AJU_II_PA_TI_SUELD_ETA"]
        / company_averange_salary["II_PA_TI__NPERS_ETA"]
    )
    company_averange_salary["admin_per_apr"] = (
        company_averange_salary["AJU_II_PA_AP_AAS_AP"]
        / company_averange_salary["II_PA_AP__AAEP"]
    )
    company_averange_salary["pro_per_dir"] = (
        company_averange_salary["AJU_II_PP_PP_SUELD_OP"]
        / company_averange_salary["II_PP_PP__NPERS_OP"]
    )
    company_averange_salary["pro_tem_dir"] = (
        company_averange_salary["AJU_II_PP_TD_SUELD_OT"]
        / company_averange_salary["II_PP_TD__NPERS_OT"]
    )
    company_averange_salary["pro_per_emp"] = (
        company_averange_salary["AJU_II_PP_TI_SUELD_OTA"]
        / company_averange_salary["II_PP_TI__NPERS_OTA"]
    )
    company_averange_salary["pro_per_apr"] = (
        company_averange_salary["AJU_II_PP_AP_AAS_PP"]
        / company_averange_salary["II_PP_AP__APEP"]
    )

    """
        create table of administrative workers, 
        drop colums of the other categories, order columns and return this data
    """

    colums_to_delete_adm = [
        "AJU_II_PA_PP_SUELD_EP",
        "AJU_II_PA_TD_SUELD_ET",
        "AJU_II_PA_TI_SUELD_ETA",
        "AJU_II_PA_AP_AAS_AP",
        "AJU_II_PP_PP_SUELD_OP",
        "AJU_II_PP_TD_SUELD_OT",
        "AJU_II_PP_TI_SUELD_OTA",
        "AJU_II_PP_AP_AAS_PP",
        "tot_empleo",
        "II_PP_PP__NPERS_OP",
        "II_PP_TD__NPERS_OT",
        "II_PP_TI__NPERS_OTA",
        "II_PP_AP__APEP",
        "AJU_II_PP_AP_AAS_PP",
    ]

    company_admin_per = company_averange_salary.copy()
    company_admin_per = company_admin_per.drop(colums_to_delete_adm, axis=1)
    company_admin_per = company_admin_per.rename(
        columns={
            "II_PA_PP__NPERS_EP": "#_admin_per_dir",
            "II_PA_TD__NPERS_ET": "#_admin_tem_dir",
            "II_PA_TI__NPERS_ETA": "#_admin_tem_emp",
            "II_PA_AP__AAEP": "#_admin_ape",
        }
    )
    # order de columns and gives new names
    admin_order_var = [
        "#_admin_per_dir",
        "admin_per_dir",
        "#_admin_tem_dir",
        "admin_tem_dir",
        "#_admin_tem_emp",
        "admin_per_emp",
        "#_admin_ape",
        "admin_per_apr",
    ]
    # company admin personal table finished
    company_admin_per = company_admin_per.reindex(columns=admin_order_var)

    """ create table production workers,
    delete colums, order columns and create a table of production workers"""

    # colums to drop
    colums_to_delete_prd = [
        "II_PA_PP__NPERS_EP",
        "AJU_II_PA_PP_SUELD_EP",
        "II_PA_TD__NPERS_ET",
        "AJU_II_PA_TD_SUELD_ET",
        "II_PA_TI__NPERS_ETA",
        "AJU_II_PA_TI_SUELD_ETA",
        "II_PA_AP__AAEP",
        "AJU_II_PA_AP_AAS_AP",
        "AJU_II_PP_PP_SUELD_OP",
        "AJU_II_PP_TD_SUELD_OT",
        "AJU_II_PP_TI_SUELD_OTA",
        "AJU_II_PP_AP_AAS_PP",
        "tot_empleo",
        "admin_per_dir",
        "admin_tem_dir",
        "admin_per_emp",
        "admin_per_apr",
    ]

    company_prod_per = company_averange_salary.copy()
    company_prod_per = company_prod_per.drop(columns=colums_to_delete_prd, axis=1)
    company_prod_per = company_prod_per.rename(
        columns={
            "II_PP_PP__NPERS_OP": "#_prod_dir",
            "II_PP_TD__NPERS_OT": "#_prod_tem_dir",
            "II_PP_TI__NPERS_OTA": "#_prod_tem_emp",
            "II_PP_AP__APEP": "#_prod_apr",
        }
    )
    prod_per_order = [
        "#_prod_dir",
        "pro_per_dir",
        "#_prod_tem_dir",
        "pro_tem_dir",
        "#_prod_tem_emp",
        "pro_per_emp",
        "#_prod_apr",
        "pro_per_apr",
    ]
    company_prod_per = company_prod_per.reindex(columns=prod_per_order)

    return company_prod_per, company_admin_per


company_per_pro, company_per_adm = all_personal(company_data, company_nordem)
company_per_adm
# company_per_pro

          #_admin_per_dir  admin_per_dir  #_admin_tem_dir  admin_tem_dir  \
anio mes
2021 6                675          5,462               65          2,123
     7                677          5,502               67          2,192
     8                679          5,579               77          2,049
     9                697          5,500               94          1,737
     10               719          5,604               98          1,604
     11               717          5,672              103          1,578
     12               723          5,536              118          1,576
2022 1                722          5,051              121          1,504
     2                722          6,180              120          1,567
     3                728          6,109              112          1,523
     4                724          6,398              108          1,633
     5                727          6,400              104          1,610
     6                731          6,528              101          1,696
     7                740          6,512               94          1,695
     8                735          6,604               97          1,853
     9                748          6,807               92          1,879
     10               754          6,382               92          1,931
     11               760          6,348               85          2,017
     12               753          7,116               81          2,040
2023 1                746          5,504               79          1,907
     2                736          6,891               77          1,984
     3                727          6,825               76          1,963
     4                723          7,172               73          2,121
     5                730          7,200               72          2,211
     6                722          7,143               67          2,190

          #_admin_tem_emp  admin_per_emp  #_admin_ape  admin_per_apr
anio mes
2021 6                 11          2,916           86            906
     7                 13          3,124          109            906
     8                 15          3,139          106            907
     9                 14          3,522           98            911
     10                 9          3,522          108            908
     11                11          3,385          108            910
     12                14          3,177          115             91
2022 1                 14          2,779           95            845
     2                 10          4,102          100            890
     3                  6          4,742           98            919
     4                 11          3,459          119            796
     5                  7          3,658          118            816
     6                  5          3,516           97            840
     7                  5          4,509           87          1,107
     8                  5          3,648           91            891
     9                  5          3,758          103            905
     10                 9          3,535          102            920
     11                 9          3,784          105            894
     12                 9          3,785          113            828
2023 1                  8          3,981          104            949
     2                  7          4,085          105            945
     3                  8          5,580          113            931
     4                 19          6,093          128            938
     5                 19          5,113          118            949
     6                 22          5,446          115            972

In [87]:
def production(company_data, company_nordem):
    production_data = company_data.copy()
    production_data = production_data[production_data["id_numord"] == company_nordem]

    # Sumatory of all salaries
    production_data["sum_salarios"] = (
        production_data["AJU_II_PA_PP_SUELD_EP"]
        + production_data["AJU_II_PA_TD_SUELD_ET"]
        + production_data["AJU_II_PA_TI_SUELD_ETA"]
        + production_data["AJU_II_PA_AP_AAS_AP"]
        + production_data["AJU_II_PP_PP_SUELD_OP"]
        + production_data["AJU_II_PP_TD_SUELD_OT"]
        + production_data["AJU_II_PP_TI_SUELD_OTA"]
        + production_data["AJU_II_PP_AP_AAS_PP"]
    )

    # operation of averange salary for perosnal
    production_data["sal_percapita"] = (
        production_data["sum_salarios"] / production_data["tot_empleo"]
    )

    # diference of production and sells
    production_data["pro-ven"] = (
        production_data["AJU_III_PE_PRODUCCION"] - production_data["total_ventas"]
    )

    # diference of inventory
    # production_data["previus_onvent"] =
    production_data["dif-inv"] = production_data["III_EX__VEXIS"] - production_data[
        "III_EX__VEXIS"
    ].shift(periods=1, fill_value=None)

    # inventory coeficient
    production_data["coeficiente"] = (
        production_data["pro-ven"] / production_data["dif-inv"]
    )

    production_data = production_data.pivot_table(
        index=["anio", "mes"],
        values=[
            "AJU_III_PE_PRODUCCION",
            "AJU_III_PE_VENTASIN",
            "AJU_III_PE_VENTASEX",
            "total_ventas",
            "III_EX__VEXIS",
            "sal_percapita",
            "tot_operativo",
            "tot_empleo",
            "dif-inv",
            "pro-ven",
            "coeficiente",
        ],
    )

    # aplay fortmat for presentation of the table.
    # i use a lambda funtion, for each x put this format

    production_data["coeficiente"] = production_data["coeficiente"].apply(
        lambda x: "{:.2f}".format(x)
    )

    # Change name of colums
    production_data = production_data.rename(
        columns={
            "AJU_III_PE_PRODUCCION": "Produccion",
            "AJU_III_PE_VENTASIN": "Ventas_int",
            "AJU_III_PE_VENTASEX": "Ventas_ext",
            "III_EX__VEXIS": "Existen",
        }
    )

    # Order columns
    prod_order = [
        "Produccion",
        "Ventas_int",
        "Ventas_ext",
        "total_ventas",
        "Existen",
        "tot_empleo",
        "tot_operativo",
        "sal_percapita",
        "pro-ven",
        "dif-inv",
        "coeficiente",
    ]

    production_data = production_data.reindex(columns=prod_order)

    return production_data


producion_of_company = production(company_data, company_nordem)
producion_of_company

          Produccion  Ventas_int  Ventas_ext  total_ventas    Existen  \
anio mes
2021 6    93,550,980  64,021,402  31,639,097    95,660,499 30,531,620
     7    84,600,363  58,500,550  28,137,699    86,638,249 28,993,245
     8    99,705,399  62,021,973  34,517,004    96,538,977 31,440,081
     9    77,290,325  58,373,997  15,990,227    74,364,224 33,699,959
     10   84,231,642  60,032,334  23,371,888    83,404,222 34,336,436
     11   81,154,372  61,107,283  20,047,089    81,154,372 34,866,544
     12  140,811,693  93,860,824  44,650,868   138,511,692 36,750,338
2022 1    86,655,430  44,017,265  27,195,092    71,212,357 48,699,163
     2    65,738,200  51,271,034  21,336,361    72,607,395 50,576,438
     3    76,705,615  52,651,162  19,007,490    71,658,652 54,460,472
     4   101,530,000  68,836,475  34,483,119   103,319,594 54,076,479
     5    92,200,801  57,445,388  27,923,200    85,368,588 59,476,644
     6    88,205,803  69,349,345  20,181,745    89,531,090 58,531,161
     7   107,950,281  62,109,130  43,129,496   105,238,626 61,390,896
     8   100,052,320  65,325,402  27,404,153    92,729,555 67,801,100
     9   112,980,700  74,387,446  35,091,919   109,479,365 71,268,371
     10  124,950,110  79,688,058  29,434,963   109,123,021 83,523,055
     11  100,700,402  82,842,016  24,284,842   107,126,858 80,883,087
     12  100,150,286  65,207,421  28,865,704    94,073,125 85,662,340
2023 1    47,080,339  47,080,339  20,758,285    67,838,624 83,185,167
     2    74,880,200  53,649,325  27,610,988    81,260,313 78,278,550
     3   113,500,609  77,459,333  29,854,367   107,313,700 83,118,316
     4    85,800,215  67,939,279  29,008,877    96,948,156 74,554,297
     5   100,900,543  70,671,644  32,922,537   103,594,181 73,218,191
     6   103,130,890  76,152,043  27,961,543   104,113,586 72,469,899

          tot_empleo  tot_operativo  sal_percapita     pro-ven    dif-inv  \
anio mes
2021 6         2,271          1,434          3,599  -2,109,519        NaN
     7         2,307          1,441          3,574  -2,037,886 -1,538,375
     8         2,328          1,451          3,594   3,166,422  2,446,836
     9         2,375          1,472          3,606   2,926,101  2,259,878
     10        2,392          1,458          3,544     827,420    636,477
     11        2,495          1,556          3,590           0    530,108
     12        2,545          1,575          3,501   2,300,001  1,883,794
2022 1         2,438          1,581          3,270  15,443,073 11,948,825
     2         2,375          1,523          3,933  -6,869,195  1,877,275
     3         2,311          1,465          3,922   5,046,963  3,884,034
     4         2,328          1,485          4,087  -1,789,594   -383,993
     5         2,297          1,459          4,088   6,832,213  5,400,165
     6         2,380          1,543          4,092  -1,325,287   -945,483
     7         2,435          1,596          4,118   2,711,655  2,859,735
     8         2,481          1,644          4,225   7,322,765  6,410,204
     9         2,547          1,702          4,118   3,501,335  3,467,271
     10        2,565          1,710          4,001  15,827,089 12,254,684
     11        2,544          1,690          4,046  -6,426,456 -2,639,968
     12        2,524          1,681          4,438   6,077,161  4,779,253
2023 1         2,501          1,668          3,614 -20,758,285 -2,477,173
     2         2,421          1,601          4,324  -6,380,113 -4,906,617
     3         2,368          1,557          4,404   6,186,909  4,839,766
     4         2,391          1,576          4,657 -11,147,941 -8,564,019
     5         2,394          1,573          4,725  -2,693,638 -1,336,106
     6         2,354          1,543          4,631    -982,696   -748,292

         coeficiente
anio mes
2021 6           nan
     7          1.32
     8          1.29
     9          1.29
     10         1.30
     11         0.00
     12         1.22
2022 1          1.29
     2         -3.66
     3          1.30
     4          4.66
     5          1.27
     6          1.40
     7          0.95
     8          1.14
     9          1.01
     10         1.29
     11         2.43
     12         1.27
2023 1          8.38
     2          1.30
     3          1.28
     4          1.30
     5          2.02
     6          1.31

In [71]:
company_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5850 entries, 0 to 5849
Data columns (total 81 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        5850 non-null   int64
 1   Llave                             5850 non-null   int64
 2   anio                              5850 non-null   int64
 3   mes                               5850 non-null   int64
 4   novedad                           5850 non-null   int64
 5   id_estado                         5849 non-null   float64
 6   imp_Imputacion                    5593 non-null   object
 7   Corrección                        5610 non-null   object
 8   id_numord                         5850 non-null   int64
 9   nombre_estab                      5850 non-null   object
 10  Dominio_39                        5850 non-null   int64
 11  nombreDpto                        5850 non-null   object
 12  nombreMpio                        5850 non-null   object
 13  II_PA_PP__NPERS_EP                5850 non-null   float64
 14  Sueldos_PERMANENTES               5836 non-null   float64
 15  AJU_II_PA_PP_SUELD_EP             5850 non-null   float64
 16  II_PA_PP__IEP                     5125 non-null   object
 17  II_PA_PP__FEP                     5125 non-null   object
 18  II_PA_TD__NPERS_ET                5850 non-null   float64
 19  su_cau_mes_TEMPORAL_DIRECTO       5810 non-null   float64
 20  AJU_II_PA_TD_SUELD_ET             5837 non-null   float64
 21  II_PA_TD__IET                     2572 non-null   object
 22  II_PA_TD__FET                     2572 non-null   object
 23  II_PA_TI__NPERS_ETA               5610 non-null   float64
 24  su_cau_mes_TEMPORAL_A_TRAVES_EMP  5603 non-null   float64
 25  AJU_II_PA_TI_SUELD_ETA            5617 non-null   float64
 26  II_PA_TI__IETA                    2787 non-null   object
 27  II_PA_TI__FETA                    2788 non-null   object
 28  II_PA_AP__AAEP                    5617 non-null   float64
 29  su_cau_mes_APRENDIZ               5588 non-null   float64
 30  AJU_II_PA_AP_AAS_AP               5619 non-null   float64
 31  II_PA_AP__AI_AP                   4469 non-null   object
 32  II_PA_AP__AF_AP                   4470 non-null   object
 33  Obser                             5552 non-null   object
 34  II_PP_PP__NPERS_OP                5616 non-null   float64
 35  su_cau_mes_PERMANENTES9           5589 non-null   float64
 36  AJU_II_PP_PP_SUELD_OP             5619 non-null   float64
 37  II_PP_PP__IOP                     5094 non-null   object
 38  II_PP_PP__FOP                     5094 non-null   object
 39  II_PP_TD__NPERS_OT                5611 non-null   float64
 40  su_cau_mes_TEMPORAL_DIRECTO13     5584 non-null   float64
 41  AJU_II_PP_TD_SUELD_OT             5617 non-null   float64
 42  II_PP_TD__IOT                     2685 non-null   object
 43  II_PP_TD__FOT                     2685 non-null   object
 44  II_PP_TI__NPERS_OTA               5615 non-null   float64
 45  su_cau_mes_TEMPORAL_A_TR_EMP17    5587 non-null   float64
 46  AJU_II_PP_TI_SUELD_OTA            5618 non-null   float64
 47  II_PP_TI__IOTA                    3412 non-null   object
 48  II_PP_TI__FOTA                    3410 non-null   object
 49  II_PP_AP__APEP                    5615 non-null   float64
 50  su_cau_mes_APRENDIZ21             5588 non-null   float64
 51  AJU_II_PP_AP_AAS_PP               5619 non-null   float64
 52  II_PP_AP__AI_PP                   3563 non-null   object
 53  II_PP_AP__AF_PP                   3563 non-null   object
 54  tot_empleo                        5850 non-null   float64
 55  tot_operativo                     5850 non-null   float64
 56  FIN__OBSERV_VAR_EMP_ANUAL         5591 non-null   object
 57  Horas_Ordinarias                  5584 non-null   float64
 58  AJU_II_HORAS_HORDI_T              5613 non-null   float64
 59  Horas_Extras                      5581 non-null   float64
 60  AJU_II_HORAS_HEXTR_T              5613 non-null   float64
 61  II_HORAS__HORDI_D                 5420 non-null   object
 62  II_HORAS__HORDI_H                 5420 non-null   object
 63  TOTAL_HORAS                       5850 non-null   float64
 64  FIN__OBSERV_VAR_HORA_ANUAL        5565 non-null   object
 65  Producción                        5590 non-null   float64
 66  AJU_III_PE_PRODUCCION             5619 non-null   float64
 67  Ventas_en_el_país                 5589 non-null   float64
 68  AJU_III_PE_VENTASIN               5619 non-null   float64
 69  Ventas_en_el_Exterior             5587 non-null   float64
 70  AJU_III_PE_VENTASEX               5618 non-null   float64
 71  total_ventas                      5850 non-null   float64
 72  III_PE__IV                        5507 non-null   object
 73  III_PE__FV                        5506 non-null   object
 74  FIN__OBSERV_VAR_PROD_ANUAL        5578 non-null   object
 75  III_EX__VEXIS                     5619 non-null   float64
 76  FIN__OBSERV_VAR_VEXIS             5352 non-null   object
 77  Logistico_NUEVO                   5850 non-null   object
 78  CRITICO                           5850 non-null   object
 79  TERRITORIAL                       5850 non-null   object
 80  OBSERVACION_DE_AJUSTES            5411 non-null   object
dtypes: float64(40), int64(7), object(34)
memory usage: 3.6+ MB